/* 
    Document   : adminstyle
    Created on : 2013.02.05., 22:38:26
    Author     : Drax
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: century gothic, arial;
    color:black;
    background: url('../img/admin/bg.png');
}
div#admincontainer{
    width: 1039px;
    margin: 30px auto 30px auto;
}
div#adminhead{
    
    
    width: 1039px;
    height: 53px;
    margin-bottom: 15px;
    background: url('../img/admin/head.png');
}
div#adminhead2{
    height: 71px;
    background: url('../img/admin/adminlogo.png') no-repeat;
    margin-bottom: 15px;
    width: 1039px;
}
a{
    color:grey;
    text-decoration: none;
}
div#adminmenu ul li{
    height: 83px;
    
    text-align: center;
    
    list-style-type: none;
}
div#adminmenu ul li a{
    
    text-decoration: none;
    color:grey;
    
}
div#adminmenu{
    float:left;
    width: 165px;
    border-right: 1px solid #ababab; 
}

#adminmenu ul a li:hover{  
    height: 83px;
    
    
    color: black;
    border-left:1px solid #ababab; 
    border-top:1px solid #ababab; 
    border-bottom: 1px solid #ababab; 
    width: 165px;
    background-color: white;
}
div#admininform{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    float:right;
    height: 561px;
    width: 824px;
    background-color: white;
    border-bottom: 1px solid #ababab;
    border-top:1px solid #ababab; 
    border-right: 1px solid #ababab; 
}
div#admincenter{
    width: 1031px;
}
.adminusername{
    padding-top: 10px;
    padding-left: 11px;
    
}
.adminlogout{
    padding-right: 15px;
    padding-top: 12px;
    font-size: 20px;
    float: right;
    
}
.admintitleimage{
    float:left;
}
.admintitle{
    padding-left: 35px;
    color:grey;
}
.admingeneraltitle{
    padding-left: 35px;
    font-size:15px;
    color:#ababab;
}
.adminline{
    width: 823px;
    margin-top:  10px;
    border-top:1px solid #ababab;
}
.adminline2{
    width: 823px;
    margin-top: 40px;
    border-top:1px solid #ababab;
}
.adminusers {
    width: 274px;
    padding-top: 55px;
    height: 65px;
     background: url('../img/admin/adminusers.png') no-repeat;
     background-position:center;
     color:white;
    float:left;
    text-align: center;
    
}

.adminorders{
     width: 274px;
      padding-top: 55px;
    height: 65px;
   background: url('../img/admin/adminorders.png') no-repeat;
     background-position:center; 
    float:left;
    color:white;
    text-align: center;
}
.adminvisitors{
    width: 274px;
     padding-top: 55px;
    height: 65px;
    background: url('../img/admin/adminvisitors.png') no-repeat;
     background-position:center; 
     color:white;
    float:left;
    text-align: center;
}
.userscount, .userorders, .uservisitor{
    width: 274px;
    padding-top: 5px;    
    float:left;
    text-align: center;
}

